* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img{
    width: 40vw;
    height: 40vw;
}